body {
  margin: 0;
}
.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.black {
  background: #B38767;
}

.white {
  background: #EED9B9;
}